@page
@model UniqueStandardProject.Pages.AboutUsModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <h1 class="mt-5">About Us</h1>
        <div class="col-md-12 mb-5">
            <p class="mb-5 pb-5">
                UNIQUE STANDARD provides a totally focused approach to support in Oil & Gas, Power Plant Industry, Petrochemical, Marine, Steel structure Fabricated and other Industries for Prevention Corrosion and Sealing Technology, supply quality products and after-sales maintenance, calibration services to our customers in the field of Non - Destructive Testing (NDT), Heavy Equipment Solution.
            </p>
        </div>
    </div>
</div>
