@page
@model UniqueStandardProject.Pages.AboutUsModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <h1 class="mt-5">About Us</h1>
        <div class="col-md-12 mb-5">
            <p class="mb-5 pb-5">
                Welcome to Unique Standard Co., Ltd., where innovation meets excellence. At
                Unique Standard Co., Ltd., we are dedicated to setting new benchmarks in the
                industry with our commitment to quality, integrity and customer satisfaction.
            </p>
        </div>
    </div>
</div>
