@page
@model UniqueStandardProject.Pages.AboutUsModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "Shared/_BlankLayout.cshtml";
}

<!-- Customized Bootstrap Stylesheet -->
<link href="~/frontend/css/bootstrap.min.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="~/frontend/lib/animate/animate.min.css" rel="stylesheet">
<link href="~/frontend/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="~/frontend/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

<!-- Template Stylesheet -->
<link href="~/frontend/css/style.css" rel="stylesheet">

<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

<!-- JavaScript Libraries -->
<script src="~/frontend/js/jquery-3.2.1.min.js"></script>
<script src="~/frontend/js/bootstrap.bundle.js"></script>
<script src="~/frontend/lib/wow/wow.min.js"></script>
<script src="~/frontend/lib/easing/easing.min.js"></script>
<script src="~/frontend/lib/waypoints/waypoints.min.js"></script>
<script src="~/frontend/lib/counterup/counterup.min.js"></script>
<script src="~/frontend/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="~/frontend/lib/tempusdominus/js/moment.min.js"></script>
<script src="~/frontend/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="~/frontend/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="~/frontend/js/main.js"></script>