@page
@model UniqueStandardProject.Pages.ContactModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "Shared/_BlankLayout.cshtml";
}

<!-- Customized Bootstrap Stylesheet -->
<link href="~/frontend/css/bootstrap.min.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="~/frontend/lib/animate/animate.min.css" rel="stylesheet">
<link href="~/frontend/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="~/frontend/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

<!-- Template Stylesheet -->
<link href="~/frontend/css/style.css" rel="stylesheet">

<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->
<!-- Topbar Start -->
<div class="container-fluid bg-light p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>123 Street, New York, USA</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small class="far fa-clock text-primary me-2"></small>
                <small>Mon - Fri : 09.00 AM - 09.00 PM</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+012 345 6789</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="container space-small">
    <div class="section-header">
        <h2>Contact Us</h2>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 10%; padding-right: 10px;">
                            <p class="text-right text-success">Address :</p>
                        </td>
                        <td style="width: 90%;">
                            <p>No.10, Universal 2nd Street, May Khwar Nyo Compound (Universal Housing), Ayer Wun Road, Thaketa Township, Yangon, Myanmar&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; padding-right: 10px;">
                            <p class="text-right text-success">Phone :</p>
                        </td>
                        <td style="width: 90%;">
                            <p>
                                +959 773844187,+959 4500 40806, +959 250027022
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; padding-right: 10px;">
                            <p class="text-right text-success">Email :</p>
                        </td>
                        <td style="width: 90%;">
                            <p>admin@uniqstd.com, uniquestandard1.mm@gmail.com</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; padding-right: 10px;" class="text-right text-success">
                            Web Site :
                        </td>
                        <td style="width: 90%;">
                            <a href="https://uniqstd.com/www.uniqstd.com" class="btn-link">www.uniqstd.com</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- Topbar End -->
<!-- JavaScript Libraries -->
<script src="~/frontend/js/jquery-3.2.1.min.js"></script>
<script src="~/frontend/js/bootstrap.bundle.js"></script>
<script src="~/frontend/lib/wow/wow.min.js"></script>
<script src="~/frontend/lib/easing/easing.min.js"></script>
<script src="~/frontend/lib/waypoints/waypoints.min.js"></script>
<script src="~/frontend/lib/counterup/counterup.min.js"></script>
<script src="~/frontend/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="~/frontend/lib/tempusdominus/js/moment.min.js"></script>
<script src="~/frontend/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="~/frontend/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="~/frontend/js/main.js"></script>