@page
@model UniqueStandardProject.Pages.HGGModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        border-radius: 10px;
    }
</style>

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <img src="~/frontend/img/hgg.png" />
            <img src="~/frontend/img/special.png" />
            <h4>
                HGG is the global leader in 3D profiling solutions. We are known worldwide for our high-end and innovate cutting machinery.
                Our strength lies in the unique synergy created by the combination of machine construction and our cutting services for third parties.
            </h4>
        </div>
        <div class="row wow fadeInUp" id="hgg">
        </div>
    </div>
</div>
<!-- Service End -->

<script>
    var url = 'api/products/productDetail?productId=2';

    var item = document.getElementById('hgg');

    fetch(url)
        .then((res) => res.json())
        .then((response) => {
            console.log(response);
            if (response.success) {
                if (Array.isArray(response.data)) {
                    generateHtml(response.data);
                } else {
                    console.error('The data received is not an array.');
                }
            } else {
                console.error('Request was not successful.');
            }
        })
        .catch((error) => {
            console.error('Error fetching data:', error);
        });

    const generateHtml = (data) => {
        data.sort((a, b) => a.sortOrder - b.sortOrder);
        var html = ``;
        data.forEach((player) => {
            var detailUrl = `/Detail?detailId=${encodeURIComponent(player.detailId)}&title=${encodeURIComponent(player.title)}`;
            html +=
                `<div class="col-md-4">
                        <a href="${detailUrl}">
                            <img src="${player.img}" class="shadow p-3 bg-white rounded" style="width: 100%; height: 250px; object-fit: cover;" />
                        </a>
                        <p class="name" style="color:primary; font-size: 15px;width: 100%;"><center>${player.title}</center></p>
                </div>`;
        });
        item.innerHTML = html;
    };

</script>