@page
@model UniqueStandardProject.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "Shared/_BlankLayout.cshtml";
}

<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="card-body pt-0">
                        <div class="p-2">
                            <form class="form-horizontal" method="post">
                                <div id="invalidUser" class="alert alert-warning">
                                    <span>Invalid login!</span>
                                </div>
                                <div id="disableUser" class="alert alert-warning">
                                    <span>Account is currently disabled!</span>
                                </div>

                              @*   <div class="alert alert-danger" id="divError">
                                    <span id="divNotificationError" class=""><i class="fa fa-info-circle"></i>&nbsp; Notificaiton service must allow for this site.</span>
                                </div> *@

                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="username" placeholder="Enter username" asp-for="Input.UserName">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Password</label>
                                    <div class="input-group auth-pass-inputgroup">
                                        <input type="password" class="form-control" placeholder="Enter password" aria-label="Password" asp-for="Input.Password" aria-describedby="password-addon">
                                        <button class="btn btn-light " type="button" id="password-addon"><i class="mdi mdi-eye-outline"></i></button>
                                    </div>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" asp-for="Input.RememberMe">
                                    <label class="form-check-label" for="remember-check">
                                        Remember me
                                    </label>
                                </div>

                                <div class="mt-3 d-grid">
                                    <button id="btnSubmit" class="btn btn-primary waves-effect waves-light" type="submit">Log In</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="mt-5 text-center">
                    <div>
                        <p>
                            ©
                            <script>document.write(new Date().getFullYear())</script> Unique Standard. Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="http://esoftmm.com">Efficient SOFT</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JAVASCRIPT -->
<partial name="_vendor_scripts" />
<script>

    $(document).ready(function () {
        // $('#btnSubmit').attr('disabled', 'disabled');
        $('#invalidUser').hide();
        $('#disableUser').hide();

        // if (Notification.permission != "denied" && Notification.permission != "default") {
        //     $('#divNotificationError').hide();
        // }

        // if (Notification.permission != "denied" && Notification.permission != "default") {
        //     $('#divError').hide();
        //     $('#btnSubmit').removeAttr('disabled');
        // }

        if ("@TempData["InvalidMessage"]" != "") {
            $('#invalidUser').show();
        }
        else if ("@TempData["TerminateMessage"]" != "") {
            $('#disableUser').show();
        }

    });
</script>