@page
@model UniqueStandardProject.Pages.OlympusModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        border-radius: 10px;
    }
</style>

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <img src="~/frontend/img/olympus.jpg"/>
            <h3>Non-Destructive Testing</h3>
        </div>
        <div class="row text-center wow fadeInUp" id="olympus">
        </div>
    </div>
</div>
<!-- Service End -->

<script>
    var url = 'api/products/productDetail?productId=3';

    fetch(url)
        .then((res) => res.json())
        .then((response) => {
            console.log(response);
            if (response.success) {
                if (Array.isArray(response.data)) {
                    generateHtml(response.data);
                } else {
                    console.error('The data received is not an array.');
                }
            } else {
                console.error('Request was not successful.');
            }
        })
        .catch((error) => {
            console.error('Error fetching data:', error);
        });

    const generateHtml = (data) => {
        var olympus = document.getElementById('olympus');
        data.sort((a, b) => a.sortOrder - b.sortOrder);
        var html = ``;
        data.forEach((player) => {
            html +=
                `<div class="col-md-4">
                    <img src="${player.img}" class="shadow p-3 bg-white rounded" style="width: 100%; height: 250px; object-fit: cover;">
                    <p class="name" style="color:primary; font-size: 15px;width: 100%;"><center>${player.title}</center></p>
                </div>`;
        });

        if (olympus) {
            olympus.innerHTML = html;
        } else {
            console.error("Element not found or not loaded yet.");
        }
    };

</script>