@page
@model UniqueStandardProject.Pages.PremierCoatingsModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        border-radius: 10px;
    }
</style>

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-5">Premier Coatings</h1>
        </div>
        <div class="row wow fadeInUp" id="premier">
        </div>
    </div>
</div>
<!-- Service End -->

<script>
    var url = 'api/products/productDetail?productId=1';

    fetch(url)
        .then((res) => res.json())
        .then((response) => {
            console.log(response);
            if (response.success) {
                if (Array.isArray(response.data)) {
                    generateHtml(response.data);
                } else {
                    console.error('The data received is not an array.');
                }
            } else {
                console.error('Request was not successful.');
            }
        })
        .catch((error) => {
            console.error('Error fetching data:', error);
        });

    const generateHtml = (data) => {
        var item = document.getElementById('premier');
        var html = ``;
        data.forEach((player) => {
            var detailUrl = `/Detail?title=${encodeURIComponent(player.title)}&description=${encodeURIComponent(player.description)}`;
            html +=
                `<div class="col-md-4">
                      <a href="${detailUrl}">
                      <img src="${player.img}" style="width: 100%; height: 300px; object-fit: cover;" />
                        </a>
                 <p class="name" style="color: primary; font-size: 20px; width: 100%; text-align: center;">${player.title}</p>
                </div>`;
        });

        if (item) {
            item.innerHTML = html;
        } else {
            console.error("Element not found or not loaded yet.");
        }
    };

</script>
