@page
@model UniqueStandardProject.Pages.ServiceModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
    img {
        border-radius: 10px;
    }
</style>

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-primary text-uppercase">// Our Services //</h6>
            <h1 class="mb-5">Explore Our Services</h1>
        </div>
        <div class="row" id="service">
        </div>
    </div>
</div>
<!-- Service End -->

<script>
    var url = 'api/products/serviceList';

    var item = document.getElementById('service');

    fetch(url)
        .then((res) => res.json())
        .then((response) => {
            console.log(response);
            if (response.success) {
                if (Array.isArray(response.data)) {
                    generateHtml(response.data);
                } else {
                    console.error('The data received is not an array.');
                }
            } else {
                console.error('Request was not successful.');
            }
        })
        .catch((error) => {
            console.error('Error fetching data:', error);
        });

    const generateHtml = (data) => {
        data.sort((a, b) => a.sortOrder - b.sortOrder);
        var html = ``;
        data.forEach((player) => {
            html +=
                `<div class="col-md-4">
                    <img src="${player.img}" class="shadow p-3 mb-3 bg-white rounded" style="width: 100%; height: 250px; object-fit: cover;">
                    <p class="name" style="color:primary; font-size: 15px;width: 100%;"><center>${player.title}</center></p>
                </div>`;
        });
        document.getElementById('service').innerHTML = html;
    };

</script>
