@page
@model UniqueStandardProject.Pages.ServiceModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-primary text-uppercase">// Our Services //</h6>
            <h1 class="mb-5">Explore Our Services</h1>
        </div>
        <div class="row" id="service">
        </div>
    </div>
</div>
<!-- Service End -->
