<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @await Html.PartialAsync("_title_meta.cshtml")
    @*//1*@
    @RenderSection("styles", false)
    @await Html.PartialAsync("_head_css.cshtml")
</head>
<body>
    <div>
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-md bg-white navbar-light shadow sticky-top p-0 mt-3 mb-5">
            <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
                <img src="~/frontend/img/BunnerLogo.png" style="width:200px;" />
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a asp-page="/Index" class="nav-item nav-link active text-success">Home</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-success" data-bs-toggle="dropdown">Products</a>
                        <div class="dropdown-menu" aria-labelledby="topnav-dashboard">
                            <a asp-page="/Admin" asp-area="UserManage" class="dropdown-item" key="t-admin">Admin</a>
                            <a asp-page="/MasterTbl/Index" asp-area="Products" class="dropdown-item" key="t-admin">Master</a>
                            <a asp-page="/Product/Index" asp-area="Products" class="dropdown-item" key="t-admin">Product</a>
                            <a asp-page="/ProductDetail/Index" asp-area="Products" class="dropdown-item" key="t-admin">Product Detail</a>
                            <a asp-page="/Distributor/Index" asp-area="Products" class="dropdown-item" key="t-admin">Distributor</a>
                            <a asp-page="/ServiceTbl/Index" asp-area="Products" class="dropdown-item" key="t-admin">Service</a>
                        </div>
                    </div>
                </div>
                @*<a href="" class="btn btn-success py-4 px-lg-5 d-none d-lg-block">Get A Quote<i class="fa fa-arrow-right ms-3"></i></a>*@
            </div>
        </nav>
        <!-- Navbar End -->
        @RenderBody()
    </div>
</body>
</html>
