@page
@model UniqueStandardProject.Areas.Categories.Pages.IndexModel
@{
    ViewData["Title"] = "Index | Categories";
    ViewData["pageTitle"] = "User Manage";
    ViewData["pTitle"] = "Categories";
    ViewData["pSubTitle"] = "Categories";
}

@section styles{
    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/datatable-custom.css" rel="stylesheet" />
}

<div class="card">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-xl-6 col-lg-6 mb-lg-0 mb-md-3 mb-2">
                <button id="btnCreate" type="button" class="btn btn-light"><i class="fa fa-plus-circle"></i>&nbsp;Create</button>
                <button id="btnEdit" type="button" class="btn btn-light"><i class="fa fa-pen"></i>&nbsp;Edit</button>
                <button id="btnDelete" type="button" class="btn btn-light"><i class="fa fa-trash"></i>&nbsp;Delete</button>
                <button id="btnExcel" type="button" class="btn btn-light"><i class="fa fa-file-excel"></i>&nbsp;Excel</button>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="input-group">
                    <label class="input-group-text bg-light"><i class="bx bx-search"></i></label>
                    <input id="txtSearch" class="form-control" type="text" placeholder="Search for something..." />
                </div>
                <span id="LblSearchCount" class="badge bg-light px-2 py-2 search-count"></span>
            </div>
        </div>
        <table id="tblCategory" class="table table-responsive nowrap w-100" cellspacing="0">
            <thead class="bg-light">
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>
                        Category Name
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- JAVASCRIPT -->
<partial name="_vendor_scripts" />
<partial name="_vendor_datatable_scripts" />
<partial name="_CategoryModel" />

<!-- JAVASCRIPT -->
<script src="~/assets/js/app_sub.js"></script>

<script>
    $(document).ready(function () {

        var table = $('#tblCategory').DataTable({
            scrollX: true,
            responsive: false,
            ordering: false,
			ajax: function (data, callback, settings) {
				$.ajax({
                    url: "@Url.Content("~/")" + "api/categories",
				}).then(function (json) {
					json["data"] = json["data"];
					callback(json);
				});
			},
			dom: '<"top"f>rt<"bottom"ilp><"clear">',
			lengthMenu: [
				[10, 25, 50, 100, -1],
				['10', '25', '50', '100', 'All']
			],
			buttons: [{
				extend: "excelHtml5",
				className: "btn-success",
				title: ('@ViewBag.pSubTitle' +' Report'+' (@DateTime.Now.ToString("dd-MMM-yyyy"))').trim(' '),
				exportOptions: {
					orthogonal: "myExport", columns: 'th:not(:first-child)'
				}
            }],
            columns: [
                {
                    defaultContent: '',
                    width: "2.5%",
                    render: function () {
                        return '<input type="checkbox" class="form-check-input" style="margin-inline:25%">'
                    },
                    ordering: false,
                    orderable: false,
                },
                {
                    data:"categoryId"
                },
                {
                    data: "categoryName"
                },
            ],
            /*columnDefs: [{ type: 'date-dd-mmm-yyyy', targets: 6 }],*/
            "select": {
                "style": 'os'
            },
            retrieve: true
        });

        table.on('select', function (e, dt, type, indexes) {
            $('input[type="checkbox"]', table.rows().nodes()).prop('checked', false);
            if (type === 'row') { $('input[type="checkbox"]', table.rows(indexes).nodes()).prop('checked', true); }
        });

        table.on('deselect', function (e, dt, type, indexes) {
            $('input[type="checkbox"]', table.rows(indexes).nodes()).prop('checked', false);
        });

        $('#btnCreate').click(function () {
            $('#txtType').val('Create');
            $('#OptionModelLabel').text('Create Category');
            $('#categoryModel').modal('show');
        });

        $('#btnEdit').click(function () {
                $('#txtType').val('Edit');
                $('#OptionModelLabel').text('Update Category');

                var selectedItem = table.rows({ selected: true }).data()[0];

                if (selectedItem != null) {
                    console.log(selectedItem);

                    var url = "/api/categories/" + selectedItem.categoryId;

                    $.getJSON(url, function (data) {
                        var user = data["data"];
                        $('#categoryId').val(user.categoryId);
                        $('#txtCategoryName').val(user.categoryName);
                    });

                    $('#categoryModel').modal('show');
                }
        });

        $('#btnUserSubmit').click(function () {
            var categoryId = $('#categoryId').val();
            var categoryName = $('#txtCategoryName').val();

            if ($('#txtType').val() == "Create") {

                if (categoryName !== '') {
                    $.ajax({
                        type: 'POST',
                        url: '/api/categories/category/create',
                        dataType: 'json',
                        data: {
                            CategoryId: categoryId,
                            CategoryName: categoryName
                        },
                        success: function (data) {
                            notification('success', "Create Categories successfully!", "Successful");
                            $('#categoryModel').modal('hide');
                            table.ajax.reload();
                            ResetItem();
                        },
                        error: function (data) {
                            var response = data.responseJSON;
                            if (response.error != null) {
                                notification('error', response.error, 'Error');
                            }
                            else {
                                notification('warning', response.message, 'Warning');
                            }

                            table.ajax.reload();
                        },
                        complete: function (data) {
                            table.ajax.reload();
                        }
                    });

                }
                else {
                    $('#categoryForm').addClass('was-validated');
                }
            }

            else {
                if (categoryName !== '') {

                    $.ajax({
                        url: '/api/categories/category/edit',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            CategoryId: categoryId,
                            CategoryName: categoryName
                        },
                        success: function (data) {
                            notification('success', "User info updated successfully!", "Successful");
                            $('#categoryModel').modal('hide');
                            ResetItem();
                            table.ajax.reload();
                        },
                        error: function (data) {
                            var response = data.responseJSON;
                            if (response.error != null) {
                                notification('error', response.error, 'Error');
                            }
                            else {
                                notification('warning', response.message, 'Warning');
                            }
                        },
                        complete: function (data) {
                            table.ajax.reload();
                        }
                    });
                }
                else {
                    $('#categoryForm').addClass('was-validated');
                }
            }
        });

        $('#btnCancel').click(function () {
            $('#usersform').removeClass('was-validated');
            $('#categoryModel').modal('hide');
            ResetItem();
            table.ajax.reload();
        });

        function ResetItem() {
            $('#txtCategoryName').val('');
        }

        $('#btnDelete').click(function () {

        })
    });
</script>