@page
@model UniqueStandardProject.Areas.Products.Pages.ProductDetail.CreateModel
@{
    ViewData["Title"] = "Create |  Products";
    ViewData["pageTitle"] = "Dashboard";
    ViewData["pTitle"] = "Products";
    ViewData["pSubTitle"] = "Product Detail";
    Layout = "_Layout_Admin";
}

@section styles{
    <!-- datepicker css -->
    <link href="~/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/datatable-custom.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/cropperjs/cropper.css" rel="stylesheet" type="text/css" />
    <link href="~/css/main-cropper.css" rel="stylesheet" type="text/css" />
    <style>
        #example_wrapper .dataTables_paginate {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }

        #example_collection_wrapper .dataTables_paginate {
            position: absolute;
            bottom: 55px;
            right: 20px;
        }

        #example_wrapper .dataTables_scroll .dataTables_scrollHead {
            margin-top: -6px;
        }

        #example_wrapper .bottom .dataTables_info, .dataTables_length {
            margin-inline-start: 20px;
        }
    </style>
}

<div class="card">
    <div class="card-header bg-light border-secondary border-3 border-bottom rounded-top">
        <h4 class="card-title pb-0 mb-0">Create New Product</h4>
    </div>
    <div class="card-body">
        <form method="post" class="needs-validation mb-4" novalidate enctype="multipart/form-data">
            <div asp-validation-summary="All"></div>
            <input hidden asp-for="Input.ProductId" />
            <div class="row">
                <div class="col-xxl-6 col-xl-6">
                    <div class="row">
                        <div class="col-6 mb-3">
                            <div class="form-group">
                                <label class="control-label">Product</label>
                                <select id="ddlProduct" class="form-control form-select select2" required></select>
                                <div class="invalid-feedback">
                                    Please choose product
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label>Title (EN)</label>
                            <input asp-for="Input.Title" class="form-control" placeholder="Enter title (EN)..." required />
                            <div class="invalid-feedback">
                                Please type product title (EN)
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <label>Sort Order</label>
                            <input asp-for="Input.SortOrder" class="form-control" placeholder="Enter sort order..." required />
                            <div class="invalid-feedback">
                                Please type sort order
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label>Description</label>
                        <div>
                            <textarea id="taskdesc-editor" asp-for="Input.Description" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a id="tbl_Photo" class="nav-link" data-bs-toggle="tab" href="#tb_Photo" role="tab">
                                <span class="d-block d-sm-none"><i class="bx bxs-wallet-alt font-size-14"></i></span>
                                <span class="d-none d-sm-block">Photo</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content p-3 px-0 text-muted">
                        <div class="tab-pane" id="tb_Photo" role="tabpanel">
                            <div id="divCardPhoto">
                                <div class="display mb-3">
                                    <label>Product Photo</label>
                                    <div class="">
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label class="btn btn-primary btn-upload w-100" for="inputImage_Photo" title="Upload image file">
                                                    <input type="file" class="sr-only" id="inputImage_Photo" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
                                                    <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="Import image with Blob URLs">
                                                        <span class="fa fa-download"></span>&nbsp;&nbsp;Import Image
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <button id="btnCropPhoto" class="btn btn-success w-100" type="button">
                                                    <span class="fa fa-upload"></span>&nbsp;&nbsp;Crop and Upload
                                                </button>
                                            </div>
                                        </div>
                                        <div id="crop-container-photo" class="img-container">
                                            <img id="output_photo" class="img-fluid mt-2" src="~/images/thumbnail.jpg" />
                                        </div>
                                        <div id="crop-preview-photo" class="p-xxl-5 p-4" style="background:rgb(242 242 242 / 0.31)">
                                            <img id="preview_output_photo" src="#" class="img-fluid w-100" />
                                        </div>
                                        <input id="campaign_Photo" asp-for="Base64String_Photo" style="display:none" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Create Product</button>
            <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

<!-- JAVASCRIPT -->
<partial name="_vendor_scripts" />
<partial name="_vendor_datatable_scripts" />

<!--tinymce js-->
<script src="~/assets/libs/tinymce/tinymce.min.js"></script>

<script src="~/assets/libs/select2/js/select2.min.js"></script>

<!-- Validation JAVASCRIPT -->

<script src="~/assets/libs/parsleyjs/parsley.min.js"></script>
<script src="~/assets/js/pages/form-validation.init.js"></script>

<!-- Cropper JS -->
<script src="~/lib/cropperjs/cropper.js" type="text/javascript"></script>
<script src="~/lib/jquery-cropper/jquery-cropper.js" type="text/javascript"></script>

<script src="~/assets/js/app_sub.js"></script>
<script>

    $(document).ready(function () {
        var productId = (new URL(location.href)).searchParams.get('productId');

        window.addEventListener('load', (event) => {
            $('#tbl_Photo').trigger('click');
        });

        //$('#crop-preview-photo').hide();

        //#region Cropper Photo

        $('#tbl_Photo').click(function () {
            $('#tb_Photo').addClass("active");
            $('#tbl_Photo').addClass("active");

            // GET QUERY String Value
            var id = (new URL(location.href)).searchParams.get('id');

            var $image = $('#output_photo');
            var options = {
                aspectRatio: 4 / 5,
                preview: '.img-preview',
                crop: function (e) {
                }
            }
            var uploadedImageType = 'image/jpeg';
            var uploadedImageURL;
            var result;

            // Cropper
            $image.on({
                ready: function (e) {
                    console.log(e.type);
                },
                cropstart: function (e) {
                    console.log(e.type, e.detail.action);
                },
                cropmove: function (e) {
                    console.log(e.type, e.detail.action);
                },
                cropend: function (e) {
                    console.log(e.type, e.detail.action);
                },
                crop: function (e) {
                    console.log(e.type);
                },
                zoom: function (e) {
                    console.log(e.type, e.detail.ratio);
                }
            }).cropper(options);

            // Import image
            var $inputImage_Photo = $('#inputImage_Photo');

            $inputImage_Photo.change(function () {
                var files = this.files;
                var file;

                if (!$image.data('cropper')) {
                    return;
                }

                if (files && files.length) {
                    file = files[0];

                    if (/^image\/\w+$/.test(file.type)) {
                        uploadedImageName = file.name;
                        uploadedImageType = file.type;

                        if (uploadedImageURL) {
                            URL.revokeObjectURL(uploadedImageURL);
                        }

                        uploadedImageURL = URL.createObjectURL(file);
                        $image.cropper('destroy').attr('src', uploadedImageURL).cropper(options);
                        $inputImage_Photo.val('');

                        $('#crop-preview-photo').hide();
                        $('#crop-container-photo').show();
                    } else {
                        notification('warn', 'Warning', "Please choose an image file.");
                    }
                }
            });

            $('#btnCropPhoto').click(function () {
                result = $image.cropper("getCroppedCanvas", { maxWidth: 4096, maxHeight: 4096 }, undefined);
                $('#preview_output_photo').attr('src', result.toDataURL(uploadedImageType));
                $('#crop-container-photo').hide();
                $('#crop-preview-photo').show();

                console.log(result.toDataURL(uploadedImageType));
                $('#campaign_Photo').val(result.toDataURL(uploadedImageType));
            });
        });

        //Get Category
        $('#ddlProduct').select2({
            width: '100%',
        });

        var url = "/api/products";
        $.getJSON(url, function (data) {
            var states = data["data"];
            var items = '';
            items += "<option selected disabled value=''>--Choose Product --</option>";
            $('#ddlProduct').empty();
            $.each(states, function (i, state) {
                items += "<option class='select2-item' value='" + state.productId + "'>" + state.product1 + "</option>";
            });
            $('#ddlProduct').html(items);
            $('#ddlProduct').val(productId).change();
            $('#Input_ProductId').val(productId);
            $('#ddlProduct').prop('disabled', true);
        });

       
        tinymce.init({
            selector: "textarea#taskdesc-editor", height: 300,
            plugins: ["advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker", "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking", "save table contextmenu directionality emoticons template paste textcolor"],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
            style_formats: [{ title: "Bold text", inline: "b" }, { title: "Red text", inline: "span", styles: { color: "#ff0000" } }, { title: "Red header", block: "h1", styles: { color: "#ff0000" } }, { title: "Example 1", inline: "span", classes: "example1" }, { title: "Example 2", inline: "span", classes: "example2" }, { title: "Table styles" }, { title: "Table row 1", selector: "tr", classes: "tablerow1" }]
        })

    });
</script>