<div class="modal fade" id="categoryModel" tabindex="-1" role="dialog" aria-labelledby="myModalSelectOption" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-scrollable" role="document">
        <div class="modal-content border-0 ">
            <input type="text" id="categoryId" hidden value="0"/>
            <input type="text" hidden id="txtType" />
            <div class="modal-header bg-gray-light border-bottom border-primary border-2 py-2">
                <h5 class="modal-title my-0" id="OptionModelLabel"></h5>
            </div>
            <div class="modal-body">
                <form id="categoryForm" method="dialog" class="needs-validation" novalidate>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="txtCategoryName" class="form-label">Category Name</label><br />
                                <input id="txtCategoryName" type="text" name="CategoryName" class="form-control"
                                       maxlength="20" placeholder="Enter category name..." required />
                                <div class="invalid-feedback">
                                    Please type valid category name. (Max Length: 10)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="btnUserSubmit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCancel">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
